# -----------------------------------------------------------------------------
# This .gitignore provided by Antonella Solomon, Grand Circus Java Bootcamp, Fall 2019.
# -----------------------------------------------------------------------------

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

*.class
/bin

# -----------------------------------------------------------------------------
# Contents after this point provided by Spring Boot project generator, 
#  https://start.spring.io/
# -----------------------------------------------------------------------------

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
